.item
{
    background: gray;
    /* padding: 100px; */
    border: 1px solid blue;
}
.cabecera
{
    grid-area: cabecera;
}
.izquierdo
{
    grid-area: izquierdo;
}
.contenido
{
    grid-area: contenido;
}
.pie
{
    grid-area: pie;
}

.contenedor
{
    /* background: #23475b; aparentemente tampoco sirve */
    display: grid;
    /* grid-template-rows: 100px 1fr 100px; template filas */
    /* grid-template-columns: 300px 1fr; template columnas */

    /* grid-gap: 250px; no aporta un carajo */
    /* height: 100vh; alto */

    grid-template-areas:"cabecera cabecera"
                        "izquierdo contenido"
                        "izquierdo pie";
                        gap: 10px;
  background-color: #2196F3;
  padding: 10px;

}
.contenedor > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
